@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.card-nav {
    width: 60px;
    height: 60px;
    padding-left: 15px;
    margin-left: 10px;

}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.text-gray {
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
}

.text-ashe {
    color: #8987A1;
    font-weight: 500;
}

.text-black {
    color: black;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.orenge-col {
    color: #E95A08;
}

.banner-title {
    font-weight: 600;
    font-size: 3rem;

}

.banner-description {
    color: #8987A1;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.btn-primary {
    background-color: #E95A08;
    width: 270px;
    border: none;
    padding: 10px;
}

.our-flower {
    max-width: 1440px;
    align-items: center;
    margin-left: 100px;
}

.our-plants {

    text-align: center;
}

.organic-flower {
    font-weight: 500;
    font-size: 1.50rem;
    ;
}

.lily-blossom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding: 50px;
    margin-left: 70px;


}


.lily-bloom {
    align-items: center;
    padding-left: 30px;
    padding-bottom: 20px;


}

.bloom {
    font-weight: 500;
}

.bloomi {
    font-weight: 500px;
    font-size: 1rem;
}

/* flower- store */
.love-container {
    display: flex;
    gap: 200px;

    justify-content: center;
    margin-top: 50px;


}
.love-badge{
    position: relative;
    right: 20px;
    top:80px;
    left: 30px;
}



.trust-badge {
    width: 286px;
    height: 286px;
    position: absolute;

    
}

.love-title {
    font-weight: 600;
    font-size: 3rem;
}

.love-content {
    margin-bottom: 40px;
    padding-top: 10px;
}

.love-items {
    margin-bottom: 50px;
}

/*deal section*/
.content-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;


}

.deals-container {
    display: flex;
    gap: 20px;
    padding-left: 300px;
    text-align: center;



}

.y-deal {
    display: grid;
    gap: 20px;

}

.A-image {
    background-image: url('../images/assets/deal-bloom.png');
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    width: 367px;
    height: 198px;

    color: white;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.7;


}

.B-image {
    background-image: url('../images/assets/deal-ana.png');
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    width: 367px;
    height: 198px;
    justify-content: center;

    color: white;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.7;




}

.z-deal {
    background-image: url('../images/assets/deal-zabo.png');
    display: grid;
    align-items: center;
    background-repeat: no-repeat;
    width: 753px;
    height: 423px;
    color: white;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.7;


}

.subscribe-section {

    background-image: url('../images/assets/news-letter-bg.png');
    background-repeat: no-repeat;
    width: 1480px;
    height: 533px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;

}

.bunch-title {
    color: white;
    font-weight: 500;
    font-size: 3rem;
}

.button-item {
    text-align: center;

}

.input-type {
    display: flex;
    align-items: center;
}

.email-input {
    padding: 10px 200px;
    border: none;
}


.batn-primary {
    color: white;
    background-color: #E95A08;
    padding: 10px 50px;
    border: none;

}


.footer-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 248px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;


}

.bg-secondary {
    color: #8987A1;
}

.shop-1 {
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}

.footer-2 {
    display: flex;

}

.footer-3 {
    margin-bottom: 110px;

}

.foot-link {
    list-style: none;
    padding-top: 20px;
}

.edit-1 {
    display: flex;
}

@media screen and (min-width:576px)and (max-width:992px) {
    .lily-blossom {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 10px;

    }

}



@media screen and (max-width: 576px) {

    .nav-links,
    .navbar,
    .our-plants {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .lily-blossom,
    .our-flower {
        grid-template-columns: repeat(1, 1fr);

        margin-left: 5px;
    }

    .our-plants {
        text-align: center;
    }








}